/* Color Variables */
$color-black: #323232;        // Primary black color for text and headers
$color-darkblack: #000000;    // Pure black for high contrast areas
$color-error: #D22D2D;        // Error or alert messages
$color-white: #FFFFFF;        // Pure white for backgrounds and text
$color-silver: #AFAFAF;       // Light silver for borders or subtle text
$color-mercury: #E1E1E1;      // Light gray for secondary backgrounds
$color-alabaster: #FAFAFA;    // Almost white for soft background sections



